# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# ExtendScript Toolkit & Adobe
*.log
*.tmp
*.bak

# VS Code
.vscode/

# Builds
dist/
build/
*.zip

# Project-specific
.env
.idea/
*.jsxbin
